@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-neutral-900 antialiased;
  }
}

@layer utilities {
  @keyframes feedbackStream {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-50%);
    }
  }

  .animate-feedback-stream {
    animation: feedbackStream 38s linear infinite;
  }
}
